<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	layout:decorator="layout/mainLayout">
<head>
<meta charset="ISO-8859-1" />
<title>Theater</title>
</head>
<body>
	<div layout:fragment="pageHeader">

		<section class="content-header">
			<h1>
				Theater <small>Manage Cinema Theater</small>
			</h1>
			<ol class="breadcrumb">
				<li><a th:href="@{'/home'}"><i class="fa fa-home"></i> Home</a></li>
				<li class="active"><i class="fa fa-home"></i> Theater</li>
			</ol>
		</section>

	</div>
	<div layout:fragment="content">
		<div class="box box-default">
			<div class="box-header with-border">
				<h3 class="box-title">Cinema</h3>

				<div class="box-tools pull-right">
					<button type="button" class="btn btn-box-tool"
						data-widget="collapse">
						<i class="fa fa-minus"></i>
					</button>
					<button type="button" class="btn btn-box-tool" data-widget="remove">
						<i class="fa fa-remove"></i>
					</button>
				</div>
			</div>
			<!-- /.box-header -->
			<div class="box-body">
				<div class="row">
					<!-- form start -->
					<form role="form" method="POST" action="/cinema/create">
						<div class="col-md-6">

							<div class="box box-primary">
								<div class="box-header with-border"></div>
								<!-- /.box-header -->

								<div class="box-body">
									<div class="form-group">
										<label for="name">Name</label> <input
											type="text" class="form-control" id="name"
											placeholder="Enter name" />
									</div>
									<div class="form-group">
										<label for="address">Address</label> <input
											type="text" class="form-control" id="address"
											placeholder="Enter address" />
									</div>
									<div class="form-group">
										<label for="capacity">Capacity</label> <input
											type="text" class="form-control" id="capacity"
											placeholder="Enter capacity" />
									</div>
									<div class="form-group">
										<label for="totalscreen">Total No. of Screen</label> <input
											type="text" class="form-control" id="totalscreen"
											placeholder="Enter screen count" />
									</div>

									<div class="form-group">
										<label for="telephone">Telephone</label> <input
											type="text" class="form-control" id="telephone"
											placeholder="Enter telephone" />
									</div>
									<div class="form-group">
										<label for="fax">Fax</label> <input
											type="text" class="form-control" id="fax"
											placeholder="Enter fax" />
									</div>
									<div class="form-group">
										<label for="manager">Manager Name</label> <input
											type="text" class="form-control" id="manager"
											placeholder="Enter manager name" />
									</div>

								</div>

							</div>

						</div>
						<!-- /.col -->
						<div class="col-md-6">
							<div class="box box-primary">
								<div class="box-header with-border"></div>
								<div class="box-body">
									<div class="form-group">
										<label for="platinumrate">Platinum Rate</label> <input
											type="text" class="form-control" id="platinumrate"
											placeholder="Enter Platinum Rate" />
									</div>
									<div class="form-group">
										<label for="goldrate">Gold Rate</label> <input
											type="text" class="form-control" id="goldrate"
											placeholder="Enter gold rates" />
									</div>
									<div class="form-group">
										<label for="silverrate">Silver Rate</label> <input
											type="text" class="form-control" id="silverrate"
											placeholder="Enter Silver Rate" />
									</div>
									

									<div class="form-group">
										<label>Country</label> <select class="form-control select2"
											style="width: 100%;">
											<option selected="selected">India</option>
											<option>US</option>
											<option>UK</option>
										</select>
									</div>

									<div class="form-group">
										<label>State</label> <select class="form-control select2"
											style="width: 100%;">
											<option selected="selected">Maharashtra</option>
											<option>Uttar Pradesh</option>
											<option>Bihar</option>
											<option>Madhya Pradesh</option>
											<option>Jharkhand</option>
											<option>Timil Naidu</option>
										</select>
									</div>
									<!-- /.form-group -->
									<div class="form-group">
										<label>City</label> <select class="form-control select2"
											style="width: 100%;">
											<option selected="selected">Maharashtra</option>
											<option>Pune</option>
											<option>Nasik</option>
											<option>Nagput</option>
											<option>Solapur</option>

										</select>
									</div>
									<!-- /.form-group -->
									<div class="form-group">
										<label>Screen</label> <select class="form-control select2"
											style="width: 100%;">
											<option selected="selected">1A</option>
											<option>1B</option>
											<option>2A</option>
											<option>2B</option>
											<option>VIP</option>

										</select>
									</div>

								</div>
								<!-- /.box-header -->

							</div>

						</div>
						<div class="col-md-12">
							<div class="box-footer">
								<button type="submit" class="btn btn-primary">Submit</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>

</body>
</html>